@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body {
    background-color: #f2efeb;
    padding: 0 !important;
    font-family: 'Montserrat', sans-serif;
}
nav {
    background-color: #d2d2db ;
    font-size: 20px;
    font-weight: 500;
}