@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body {
    background-color: #f2efeb;
    padding: 0 !important;
    font-family: 'Montserrat', sans-serif;
}
nav {
    background-color: #d2d2db ;
    font-size: 20px;
    font-weight: 500;
}
main {
    background-color: #d2d2db;
    border-radius: 20px;
}
a {
    text-decoration: none;
}
a:link, a:visited {
    color: inherit;
}
h1 {
    font-weight: 600;
}
@media only screen and (max-width: 768px) {
    .navbar-brand {
        display: none;
    }
}

.db-container {
    background-color: #a4a4af;
    border-radius: 10px;
}